//* HEADER
logo-top {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
}
.logoTop{
    width: 200px;
    height: auto;
    margin-top: 1rem;
}
.iniciarSesion {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
}
.botonesRegistro{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    justify-content: end;
}
header {
    margin-top: 1rem;
}
//* MAIN INDEX
.card{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.card-body{
    background-color: #ffc107;
}
.carousel{
    margin: 2rem;
}


//*FOOTER
.pieDePagina {
    width: 100%;
    background-color: gold;
    color: black;
    font-family: "Poppins";
    display: block;
  }
  .pieDePagina h2 {
    width: 100%;
    background-color: gold;
    color: black;
    font-family: "Poppins";
    font-weight: bold;
  }
  .pieDePagina .grupo1 .boxInfo h2 {
    padding-left: 30px;
  }
  .pieDePagina .grupo1 .box ul li {
    color: black;
    font-family: "Poppins";
    text-decoration: none;
    list-style: none;
    padding-right: 40px;
  }
  .pieDePagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid: gap 50px;
    padding: 45px 0px;
  }
  .pieDePagina .grupo1 .redSocial a {
    text-decoration: none;
    width: 100px;
    height: 100px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #f2fe2c;
    text-align: center;
    padding: 20px;
    transition: all 300ms ease;
  }
  .pieDePagina .grupo1 .redSocial a:hover {
    color: darkgoldenrod;
  }
  .pieDePagina .grupo2 {
    background-color: #f2fe2c;
    padding: 15px 10px;
    text-align: center;
    color: black;
  }