logo-top {
    width: 200px;
    height: auto;
    margin-bottom: 1rem;
}
.logoTop{
    width: 200px;
    height: auto;
}
.card{
    margin: 2rem;
}
.card-body{
    background-color: #ffc107;
}
.iniciarSesion {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
}
.botonesRegistro{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    justify-content: end;
}
.carousel{
    margin: 2rem;
}


header {
    margin: 1rem;
}
